* {
    margin: 0;
    padding: 0;
}

main, section, aside{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #DFD9E2;
 }
footer{
    background-color: #61a0a2;
}
.navbar {
    background-color: #61a0a2;
}

.navbar-brand{
    text-align: center;
}

h1, h2{
    background-color: #61a0a2;
}

.list-group{
    padding-top: 10px;
}
.space-list{
    background-color: #61a0a2;
    padding:5px;
}

.logo{
    border-radius: 100px;
    padding: 5px;
    margin-right: 40px;
}

.copyright{
    padding-top: 20px;
}