* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #38686a;
}
.d-inline-block {
    display: inline-block;
    border-radius: 50%;
    margin-right: 7px;
}
.navbar-brand{
    text-align: center;
}

.adapt-color{
    color: #38686a;
}

